#content {
	margin-bottom: 60px;
}

#main-content {
	flex: 2;
}

#main-content img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: 0 20%;
}

#side-content img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: 0 35%;
}

#main-content > div {
	margin-bottom: 15px;
}

#main-content > div,
#side-content > div {
	padding: 10px 20px 30px 20px;
	background: var(--white);
}

#side-content {
	flex: 1;
}

#main-content img,
#side-content img {
	margin-bottom: 20px;
}

/* ---------------------MEDIA : 1024px--------------------- */

@media (min-width: 1024px) {
	#content {
		display: flex;
		gap: 20px;
	}

	#side-content img {
		height: 200px;
	}
}
